<a href="#pokemon=<%= id %>" class="pokemon__card">
  <span class="pokemon__id"><%= id %></span>
  <h3 class="pokemon__nombre"><%= name %></h3>
  <img width="96" height="96" class="pokemon__imagen" src="<%= sprites.front_default %>" alt="<%= name %>">
</a>
